[MESSAGES CONTROL]

disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        multiple-imports,
        too-few-public-methods,
        too-many-return-statements,
        line-too-long,
        no-else-return,
        broad-exception-raised,
        import-error
